<h2 class="text-center">Airplane Seating Algorithm</h2>
<div class="row">
  <div class="width-6">
    <h4 class="text-center">Plane seat generator</h4>
      <div class="form-box">
        <%= form_with url: "/", method: :get do |form| %>
          <%= form.label :seats, "Enter seat arrangement json (Example: '[[3,4], [4,5], [2,3], [3,4]]')" %>
          <%= form.text_field :seats %>
          <%= form.label :passenger, "Enter the no.of passengers" %>
          <%= form.text_field :passenger %>
          <label class="error hidden">Enter values</label>
          <%= form.submit "Submit", class: "form-submit" %>
        <% end %>
      </div>
  </div>
  <div class="width-6">
    <h4 class="text-center">Seat location</h4>
    <div class="plane"></div>
  </div>
</div>

<script>
  $form = $('form');
  $form.on('submit', function(e){
    e.preventDefault();
    seat = $form.find('input#seats').val();
    passenger = $form.find('input#passenger').val();
    var ajaxReq = $.ajax("/", 
      {
        dataType: 'html', // type of response data
        data: {seats: seat, passenger: passenger }
      });
    ajaxReq.done(function (data) { // succuss callback
      $('input[type="submit"]').prop('disabled', false);
      display_seats(data, 'success');
    });
    ajaxReq.fail(function (jqXhr, textStatus, errorMessage) { // error callback 
      $('input[type="submit"].form-submit').prop('disabled', false);
      display_seats(errorMessage, 'error');
    });
  });

  function display_seats(data, status) {
    if(status == "success"){
      $('.plane').html(data);
    }else {
      $('.plane').html('<p>'+data+'</p>');
    }
  }
</script>